@import "mixins.scss";

$font-stack:    Helvetica, sans-serif;
$primary-color: #333333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.top-slide {
  @include slide(yellow);
}

.middle-slide {
  @include slide(blueviolet);
}

.bottom-slide {
  @include slide(darkseagreen);
}
.transform {
  transform: translateY(100vh);
}


.tracker {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  right: 30px;
  list-style: none;
}
.tracker-item {
  @include circle(10px, 1px solid red, none);
  margin-bottom: 10px;
}
.tracker-item.active {
  background: red;
}

