body {
  font: 100% Helvetica, sans-serif;
  color: #333333;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.top-slide {
  width: 100%;
  height: 100vh;
  background-color: yellow;
}

.middle-slide {
  width: 100%;
  height: 100vh;
  background-color: blueviolet;
}

.bottom-slide {
  width: 100%;
  height: 100vh;
  background-color: darkseagreen;
}

.transform {
  transform: translateY(100vh);
}
