body {
  font: 100% Helvetica, sans-serif;
  color: #333333;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.top-slide {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: yellow;
}

.middle-slide {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: blueviolet;
}

.bottom-slide {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: white;
  float: left;
}

.horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.horizontal .horizontal-slide {
  display: inline-block;
}

.horizontal .horizontal-slide:nth-child(1) {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: navajowhite;
}

.horizontal .horizontal-slide:nth-child(2) {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: cornflowerblue;
}

.horizontal .horizontal-slide:nth-child(3) {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: crimson;
}

.transform {
  transform: translateY(100vh);
}

.tracker {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  right: 30px;
  list-style: none;
}

.tracker .tracker-item {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid red;
  background: none;
  margin-bottom: 10px;
}

.tracker .tracker-item.active {
  background: red;
}

.tracker .tracker-link {
  display: block;
  width: 10px;
  height: 10px;
  text-decoration: none;
}
